/*----------------------------Null----------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

address {
  font-style: normal;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Medium"), local("Google-Sans-Medium"), url("/fonts/GoogleSans-Medium.woff2") format("woff2"), url("/fonts/GoogleSans-Medium.woff") format("woff"), url("/fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #fff;
  overflow-x: hidden;
}

/*----------------------------Variables----------------------------*/
:root {
  --color-text: ;
}

/*----------------------------Other----------------------------*/
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*---------------------------- Adaptive tablet ----------------------------*/
/*---------------------------- Adaptive desktop (1280px)----------------------------*/
/*---------------------------- Adaptive desktop (1440px)----------------------------*/
/*----------------------------General class----------------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #5e6282;
}

.title {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #14183e;
}

.header {
  position: relative;
  z-index: 10;
  padding-top: 45px;
  padding-bottom: 125px;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__logo {
  flex: 1 0 auto;
}

.menu__body {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 30px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 457px;
}
.menu__link {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #212832;
  transition: all 1s ease 0s;
}
.menu__link:hover {
  color: #df6951;
  transition: all 0.3s ease 0s;
}
.menu__list-login {
  display: flex;
  width: 369px;
  justify-content: flex-end;
  align-items: center;
}
.menu__link-login {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #212832;
  transition: all 1s ease 0s;
}
.menu__link-login:hover {
  color: #df6951;
  transition: all 0.3s ease 0s;
}

.btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0px 20px 0px 20px;
  border: 1px solid #212832;
  margin: 0px 40px 0px 50px;
  border-radius: 5px;
  position: relative;
  transition: all 0.8s ease 0s;
  color: #212832;
  text-decoration: none;
}
.btn:hover {
  transition: all 0.5s ease 0s;
  color: #fff;
  background-color: #262626;
  transform: translate(0, -2px);
  box-shadow: 0 1.5px 2px rgba(13, 13, 13, 0.5);
  border: 1px solid #fff;
  text-decoration: none;
}
.btn:active {
  transition: all 0.3s ease 0s;
  transform: translate(0, 2px);
  background-color: #8c8c8c;
  color: #212832;
}

.vector {
  position: relative;
  width: 40px;
}
.vector::after {
  content: " ";
  background: url(/img/header/vector.svg) 0 0/cover no-repeat;
  width: 9px;
  height: 5px;
  position: absolute;
  z-index: 11;
  left: 70%;
  top: 50%;
  transform: translate(0, -50%);
}

.travel {
  padding-bottom: 222px;
}
.travel__body {
  position: relative;
}
.travel__body .travel-girl {
  position: absolute;
  top: -112px;
  right: -40px;
  z-index: 1;
}
.travel__row {
  display: flex;
}
.travel__colomn {
  width: 625px;
}
.travel__subtitle {
  font-family: "Poppins";
  font-size: 20px;
  text-transform: uppercase;
  color: #df6951;
  padding: 0px 0px 25px 0px;
}
.travel__title {
  padding: 0px 0px 30px 0px;
  position: relative;
}
.travel__title h1 {
  color: #181e4b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Volkhov;
  font-size: 84px;
  line-height: 1.05;
  letter-spacing: -3.36px;
  position: relative;
  z-index: 3;
}
.travel__title .shadow-text {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 2;
}
.travel__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 187.5%;
  color: #5e6282;
  width: 477px;
  padding: 0px 0px 30px 0px;
}
.travel__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.travel__buttons-more {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  height: 60px;
  padding: 0px 25px;
  background: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  margin: 0px 44px 0px 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  transition: all 0.8s ease 0s;
}
.travel__buttons-more:hover {
  transition: all 0.5s ease 0s;
  background-color: #ff8000;
  transform: translate(0, -2px);
  box-shadow: 0 1.5px 2px rgba(13, 13, 13, 0.5);
  border: 1px solid #fff;
}
.travel__buttons-more:active {
  transition: all 0.3s ease 0s;
  transform: translate(0, 2px);
  background-color: #8c8c8c;
  color: #212832;
}
.travel__buttons-play {
  border-radius: 50%;
  background: #df6951;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  width: 52px;
  height: 52px;
  position: relative;
  border: 1px solid #fff;
  transition: all 0.8s ease 0s;
}
.travel__buttons-play:hover {
  transition: all 0.5s ease 0s;
  background-color: #ff4d4d;
  transform: translate(0, -2px);
  box-shadow: 0 1.5px 2px rgba(13, 13, 13, 0.5);
  border: 1px solid #fff;
}
.travel__buttons-play:active {
  transition: all 0.3s ease 0s;
  transform: translate(0, 2px);
  background-color: #8c8c8c;
  color: #212832;
}
.travel__buttons-play img {
  position: absolute;
  top: 50%;
  left: 53%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.travel__play-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #686d77;
  padding: 0px 0px 0px 20px;
}

.shadow-girl {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.services {
  padding: 0px 0px 155px 0px;
}
.services__subtitle {
  margin-bottom: 10px;
}
.services__title {
  margin-bottom: 68px;
}
.services__body {
  position: relative;
}
.services__body .bg-plus {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
}
.categories__row {
  display: flex;
  justify-content: space-between;
}
.categories__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 314px;
  width: 267px;
  border-radius: 36px;
  transition: box-shadow 700ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
}
.categories__item::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #df6951;
  border-radius: 30px 0px 10px;
  bottom: 0;
  left: 0;
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1), opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.categories__item:hover:before {
  transform: translate(-20px, 20px);
  opacity: 1;
}
.categories__item:hover {
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.categories__photo {
  margin: auto;
}
.categories__body {
  padding: 0px 0px 45px 0px;
}
.categories__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #1e1d4c;
  padding: 0px 0px 15px 0px;
}
.categories__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 162.5%;
  color: #5e6282;
  padding: 0px 42px 0px 42px;
}

.destinations__body {
  padding: 0px 0px 185px 0px;
}
.destinations__subtitle {
  margin-bottom: 8px;
}
.destinations__title {
  margin-bottom: 60px;
}

.top-selling__container {
  position: relative;
}
.top-selling__container .spring {
  position: absolute;
  z-index: -1;
  right: 15px;
  top: 150px;
}
.top-selling__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -17.5px;
}
.top-selling__items {
  padding: 0px 17.5px;
}
.top-selling__colomn {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 24px;
  width: 315px;
  height: 457px;
  overflow: hidden;
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  transition: all 0.5s ease 0s;
}
.top-selling__colomn img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-selling__body {
  border-top: 3px solid #b4b4cb;
  border-bottom: 3px solid #b4b4cb;
  width: 309px;
  height: 130px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.8s ease 0s;
  transform: translate(0px, 100px);
}
.top-selling__body div {
  transition: all 0.8s ease 0s;
  opacity: 0;
}
.top-selling__colomn:hover .top-selling__body {
  border-top: 3px solid #3e3e5b;
  border-bottom: 3px solid #3e3e5b;
  width: 309px;
  transform: translate(0px, 0px);
  transition: all 0.5s ease 0s;
  border-radius: 24px;
}
.top-selling__colomn:hover .top-selling__body div {
  opacity: 1;
  transition: all 0.5s ease 0s;
}
.top-selling__title {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #5e6282;
  padding: 27px 25px 0px 20px;
  justify-content: space-between;
}
.top-selling__subtitle {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #5e6282;
  padding: 20px 0px 0px 55px;
}
.top-selling__subtitle img {
  position: absolute;
  left: 21px;
  width: 20px;
  height: 20px;
}

.nextTrip {
  padding-bottom: 200px;
}
.nextTrip__body {
  padding-left: 55px;
}
.nextTrip__colomn {
  display: flex;
}
.nextTrip__subtitle {
  text-align: start;
  margin-bottom: 15px;
}
.nextTrip__title {
  text-align: start;
  width: 510px;
  margin-bottom: 30px;
}
.nextTrip__cutaway {
  margin-top: 78px;
  margin-left: 115px;
  width: 370px;
  height: 400px;
  border-radius: 26px;
  background-color: #fff;
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  position: relative;
  padding: 20px 25px 0px 25px;
}
.nextTrip__cutaway-bg {
  width: 354px;
  height: 367px;
  border-radius: 367px;
  opacity: 0.8;
  background: #59b1e6;
  filter: blur(75px);
  position: absolute;
  z-index: -1;
  top: -60px;
  right: -44px;
}

.info__items :last-child {
  padding-bottom: 0;
}
.info__colomn {
  display: flex;
  padding: 0px 0px 40px 0px;
  width: 395px;
}
.info__img1 {
  min-width: 48px;
  height: 48px;
  border-radius: 13px;
  position: relative;
  box-shadow: 0px 0px 5px rgb(240, 190, 40);
  background-image: radial-gradient(circle at 0% 0%, #ffff6d 0, #ffff5e 10%, #ffff53 20%, #ffeb49 30%, #ffd142 40%, #f2b53c 50%, #df9a38 60%, #ce8335 70%, #be7033 80%, #b16033 90%, #a55334 100%);
  background-size: 200% 200%;
  animation: info__img1 4s ease infinite;
}
@keyframes info__img1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.info__img1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info__img2 {
  min-width: 48px;
  height: 48px;
  border-radius: 13px;
  position: relative;
  box-shadow: 0px 0px 5px rgb(204, 0, 0);
  background-image: radial-gradient(circle at 0% 0%, #ffbb00 0, #ffac00 8.33%, #ff9900 16.67%, #ff8518 25%, #ff6e2b 33.33%, #ff5636 41.67%, #f23c3c 50%, #da2040 58.33%, #c50043 66.67%, #b20046 75%, #a1004a 83.33%, #92004f 91.67%, #850055 100%);
  background-size: 200% 200%;
  animation: info__img2 4s ease infinite;
}
@keyframes info__img2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.info__img2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info__img3 {
  min-width: 48px;
  height: 48px;
  border-radius: 13px;
  position: relative;
  box-shadow: 0px 0px 5px rgb(0, 99, 128);
  background-image: radial-gradient(circle at -4.17% 4.55%, #00ffff 0, #00f7ff 25%, #3cb5f2 50%, #3e789f 75%, #304558 100%);
  background-size: 200% 200%;
  animation: info__img3 4s ease infinite;
}
@keyframes info__img3 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.info__img3 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info__body {
  padding: 0px 0px 0px 20px;
}
.info__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
  padding: 0px 0px 5px 0px;
}
.info__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}

.cutaway__img {
  margin-bottom: 25px;
}
.cutaway__title {
  color: #080809;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: 0.27px;
  margin-bottom: 13px;
}
.cutaway__text {
  color: #84829a;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: -0.08px;
  margin-bottom: 20px;
}
.cutaway__icon-wrap {
  display: flex;
  gap: 13px;
  margin-bottom: 30px;
}
.cutaway__icon {
  width: 36px;
  height: 36px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cutaway__subtext {
  color: #84829a;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: -0.32px;
}
.cutaway__box {
  position: absolute;
  bottom: 35px;
  right: -165px;
  display: flex;
  padding: 17px 17px 0px 17px;
  width: 263px;
  height: 129px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.cutaway__box-img {
  width: 50px;
  height: 50px;
}
.cutaway__conteiner {
  margin-left: 10px;
}
.cutaway__box-text {
  color: #84829a;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: -0.49px;
  margin-bottom: 6px;
}
.cutaway__box-title {
  color: #080809;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: -0.27px;
  margin-bottom: 14px;
}
.cutaway__box-percent {
  color: #080809;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: -0.77px;
  margin-bottom: 10px;
}
.cutaway__box-percent span {
  color: #8a79df;
}
.cutaway__box-progress {
  width: 156px;
  height: 5px;
  background-color: #f5f5f5;
  border-radius: 15px;
}
.cutaway__progress {
  height: 100%;
  width: 40%;
  background-color: #8a79df;
  border-radius: 15px;
}

.aboutUs__container {
  margin-bottom: 100px;
}
.aboutUs__row {
  display: flex;
  align-items: flex-start;
}
.aboutUs__col {
  display: flex;
  align-items: flex-end;
}
.aboutUs__testimonials {
  margin-right: 87px;
}
.aboutUs__cards {
  display: block;
  z-index: 2;
  position: absolute;
  border: 2px solid #f7f7f7;
  border-radius: 10px;
}
.aboutUs__cards_active {
  z-index: 7;
  position: relative;
  margin-top: 40px;
  border: 2px solid #f7f7f7;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.2);
}
.aboutUs .testimonials__body {
  width: 450px;
}
.aboutUs .testimonials__title {
  font-weight: 600;
  font-size: 18px;
}
.aboutUs .testimonials__subtitle {
  text-transform: capitalize;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
}
.aboutUs .cards {
  position: relative;
}
.aboutUs .cards__body {
  width: 504px;
  height: 245px;
  padding: 38px;
  background-color: white;
  font-family: "Poppins";
}
.aboutUs .cards__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 34px;
}
.aboutUs .cards__subtitile {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.aboutUs .cards__avatar {
  position: absolute;
  left: -34px;
  top: -37px;
}
.aboutUs .cards__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.aboutUs .cards__buttons {
  flex-direction: column;
  margin-left: 66px;
  margin-top: 140px;
}

.footer {
  padding-bottom: 80px;
}
.footer__body {
  padding: 0 50px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer__colomn {
  margin-top: 20px;
}
.footer__logo-name {
  color: #181e4b;
  font-family: Poppins;
  font-size: 44px;
  font-weight: 500;
  line-height: normal;
  display: block;
  margin-bottom: 20px;
}
.footer__logo-text {
  color: #5e6282;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.24;
  max-width: 207px;
}
.footer__title {
  color: #080809;
  font-family: Poppins;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  margin-bottom: 32px;
}
.footer__network {
  margin-top: 10px;
}
.footer__subscibe {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  margin-left: -10px;
  justify-content: start;
}
.footer__network-text {
  color: #5e6282;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: 0.1px;
  margin-bottom: 16px;
}
.footer__apps {
  display: flex;
  gap: 7px;
}
.footer__reserved {
  margin-top: 85px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #5e6282;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about__item a {
  color: #5e6282;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.24;
  transition: all 1s ease 0s;
}
.about__item a:hover {
  color: #df6951;
  transition: all 0.3s ease 0s;
}

.apps__gplay {
  width: 110px;
  height: 35px;
  border-radius: 17.5px;
  background-color: #080809;
}
.apps__astore {
  width: 110px;
  height: 35px;
  border-radius: 17.5px;
  background-color: #080809;
}