.button{
    button{
        background-color: #ffffff;
    }
    background-color: #ffffff;
    margin-bottom: 68px;
    &__arrowUp{
        &::before{
            
            content: url(/public/img/comments/arrow-up2.svg);
        }
    }
    &__arrowDown{
        
        &::before{
            content: url(/public/img/comments/arrow-down1.svg);
        }
    }
}