//====================================================================================================
.bg-img__container {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}
//====================================================================================================
.girl-travel {
	position: absolute;
	z-index: 2;
	top: 90px;
	left: -175px;
}
.girl-shadow {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
//====================================================================================================
.bg-plus {
	position: absolute;
	z-index: 1;
	top: 920px;
	left: 500px;
}
//====================================================================================================
.spring {
	position: absolute;
	z-index: 0;
	top: 1840px;
	left: 475px;
}
//====================================================================================================
