//====================================================================================================
@font-face {
	font-family: "Google Sans";
	src:
		// local("Google Sans Medium"),
		// local("Google-Sans-Medium"),
		url("/fonts/GoogleSans-Medium.woff2") format("woff2"),
		url("/fonts/GoogleSans-Medium.woff") format("woff"),
		url("/fonts/GoogleSans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
//====================================================================================================
