// ====================================================================================================
.header {
	position: relative;
	z-index: 10;
	padding-top: 45px;
	padding-bottom: 125px;

	&__container {
	}
	&__menu {
		display: flex;
		align-items: center;
	}
	&__logo {
		flex: 1 0 auto;
	}
}

.menu {
	&__body {
		display: flex;
		align-items: center;
		padding: 0px 0px 0px 30px;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 457px;
	}
	&__link {
		text-decoration: none;
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		color: #212832;
		transition: all 1s ease 0s;
		&:hover {
			color: #df6951;
			transition: all 0.3s ease 0s;
		}
	}
	&__list-login {
		display: flex;
		width: 369px;
		justify-content: flex-end;
		align-items: center;
	}
	&__item-login {
	}
	&__link-login {
		text-decoration: none;
		font-family: "Poppins";
		font-style: normal;
		font-weight: 500;
		font-size: 17px;
		color: #212832;
		transition: all 1s ease 0s;
		&:hover {
			color: #df6951;
			transition: all 0.3s ease 0s;
		}
	}
}

.btn {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 0px 20px 0px 20px;
	border: 1px solid #212832;
	margin: 0px 40px 0px 50px;
	border-radius: 5px;
	position: relative;
	transition: all 0.8s ease 0s;
	color: #212832;
	text-decoration: none;
	&:hover {
		transition: all 0.5s ease 0s;
		color: #fff;
		background-color: #262626;
		transform: translate(0, -2px);
		box-shadow: 0 1.5px 2px rgba(13, 13, 13, 0.5);
		border: 1px solid #fff;
		text-decoration: none;
	}
	&:active {
		transition: all 0.3s ease 0s;
		transform: translate(0, 2px);
		background-color: #8c8c8c;
		color: #212832;
	}
}

.icon-menu {
}
