//====================================================================================================
.subtitle {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	color: #5e6282;
}

.title {
	font-family: "Volkhov";
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	text-align: center;
	text-transform: capitalize;
	color: #14183e;
	padding: 10px 0px 0px 0px;
}
//====================================================================================================
