//====================================================================================================
.services {
	padding: 105px 0px 155px 0px;

	// .services__body
	&__body {
		position: relative;

		.bg-plus {
			position: absolute;
			top: 0;
			right: 0;
			transform: translateX(50%);
		}
	}

	// .services__row
	&__row {
	}

	// .services__colomn
	&__colomn {
	}

	// .services__subtitle
	&__subtitle {
	}

	// .services__title
	&__title {
	}

	// .services__categories
	&__categories {
	}
}

.categories {
	// .categories__row
	&__row {
		display: flex;
		justify-content: space-between;
		padding: 70px 0px 0px 0px;
	}

	// .categories__colomn
	&__colomn {
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 314px;
		width: 267px;
		border-radius: 36px;
		transition: box-shadow 700ms cubic-bezier(0.4, 0, 0.2, 1);
		background-color: #fff;

		&::before {
			content: "";
			position: absolute;
			width: 100px;
			height: 100px;
			background: #df6951;
			border-radius: 30px 0px 10px;
			bottom: 0;
			left: 0;
			transition:
				transform 700ms cubic-bezier(0.4, 0, 0.2, 1),
				opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
			opacity: 0;
			z-index: -1;
		}
		&:hover:before {
			transform: translate(-20px, 20px);
			opacity: 1;
		}
		&:hover {
			box-shadow:
				0px 1.852px 3.148px 0px rgba(0, 0, 0, 0),
				0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
				0px 20px 13px 0px rgba(0, 0, 0, 0.01),
				0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
				0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
				0px 100px 80px 0px rgba(0, 0, 0, 0.02);
		}
	}

	// .categories__photo
	&__photo {
		margin: auto;
	}

	&__body {
		padding: 0px 0px 45px 0px;
	}

	// .categories__title
	&__title {
		font-family: "Open Sans";
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		text-align: center;
		color: #1e1d4c;
		padding: 0px 0px 15px 0px;
	}

	// .categories__text
	&__text {
		font-family: "Poppins";
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		line-height: 26 / 16 * 100%;
		color: #5e6282;
		padding: 0px 42px 0px 42px;
	}
}

//====================================================================================================
