//====================================================================================================
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1170px;
$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 766.98px;
$md4: 479.98px;
//====================================================================================================
$mainColor: #212832;